.login-input {
    height: 110px;
    border-radius: 45px;
    width: 90%;
    margin-top: 3%;
    font-size: 43px;
    padding-left: 60px;
}

.login-submit-button {
    height: 110px;
    border-radius: 45px;
    width: 90%;
    background: #55acba;
    margin-top: 5%;
    font-size: 45px;
}

body {
    background-color: #3f4859 !important;
}

.header-logo {
    margin-top: 30%;
    /* font-size: 48px !important; */
    text-align: center;
    margin-bottom: 10%;
}

.header-logo h1 {
    font-size: 110px;
    color: #f5f5f5;
}

.extra-buttons {
    margin-top: 4%;
    text-align: center;
}

.extra-buttons a {
    font-size: 35px;
    color: lightgray;
}

@media only screen and (min-device-width: 768px) {
    .login-input {
        height: 70px;
        border-radius: 35px;
        width: 70%;
        margin-top: 3%;
        font-size: 33px;
        padding-left: 50px;
    }
    .login-submit-button {
        height: 70px;
        border-radius: 35px;
        width: 70%;
        background: #55acba;
        margin-top: 5%;
        font-size: 35px;
    }
    .header-logo {
        margin-top: 20%;
        /* font-size: 48px !important; */
        text-align: center;
        margin-bottom: 7%;
    }
    .header-logo h1 {
        font-size: 70px;
        color: #f5f5f5;
    }
    .extra-buttons a {
        font-size: 25px;
        color: lightgray;
        margin-left: -6px;
        margin-right: 10px;
    }
}
@media only screen and (min-device-width: 1024px) {
    .login-input {
        height: 60px;
        border-radius: 35px;
        width: 52%;
        margin-top: 2%;
        font-size: 26px;
        padding-left: 45px;
    }
    .login-submit-button {
        height: 60px;
        border-radius: 35px;
        width: 52%;
        background: #55acba;
        margin-top: 3%;
        font-size: 30px;
    }
    .header-logo {
        margin-top: 15%;
        /* font-size: 48px !important; */
        text-align: center;
        margin-bottom: 3%;
    }
    .header-logo h1 {
        font-size: 60px;
        color: #f5f5f5;
    }
    .extra-buttons a {
        font-size: 25px;
        color: lightgray;
        margin-left: -6px;
        margin-right: 10px;
    }
    .extra-buttons-container {
        width: 52%;
        margin-left: 24%;
        font-size: 23px;
    }
}

