.login-input {
    height: 110px;
    border-radius: 45px;
    width: 90%;
    margin-top: 3%;
    font-size: 43px;
    padding-left: 60px;
}

.login-submit-button {
    height: 110px;
    border-radius: 45px;
    width: 90%;
    background: #55acba;
    margin-top: 5%;
    font-size: 45px;
}

body {
    background-color: #3f4859 !important;
}

.header-logo {
    margin-top: 30%;
    /* font-size: 48px !important; */
    text-align: center;
    margin-bottom: 10%;
}

.header-logo h1 {
    font-size: 110px;
    color: #f5f5f5;
}

.extra-buttons {
    margin-top: 4%;
    text-align: center;
}

.extra-buttons a {
    font-size: 35px;
    color: lightgray;
}

